<!-- <div class='employees'>
    <div class='employeesLabel'>
      <span class='employeesLabel'>EMPLOYEES</span>
    </div>
    <div class='employee newEmployee' *ngFor='let employee of allEmployees'>
      <input type=text class='employeeAttribute employeeName' [(ngModel)]='employee.employee_name'/>
      <input type=text class='employeeAttribute employeeEmail' [(ngModel)]='employee.employee_email'/>
      <input type=number min=0 class='employeeAttribute employeeId' [(ngModel)]='employee.employee_id' (change)='onChange(employee)'/>

    </div>
    <span class='newEmployeeIcon' (click)='addNewEmployee()'></span>
    <div class='buttons'>
      <span class='button submitButton' (click)='onSubmit()'>Submit</span>
    </div>
  </div> -->

<div class='employeesWorkspace'>
    <!-- <div class='employee' *ngFor='let employee of allemployees'>{{ employee.employee_name }}</div> -->
  <!-- <div class='employeesHeader'>
    <span class='employeesLabel'>TEAM</span>
    <span class='newEmployeeIcon' (click)='addNewemployee()'></span>
  </div> -->
  <div class='employeesBody'>

    <div class='employeesList' [class.active]='activeEmployeeFlag'>
      <div class='employee' [ngClass]="activeEmployee==employee ? 'active' : 'inactive'" *ngFor='let employee of allEmployees' (click)='selectEmployee(employee)'>
        <span class='employeePhoto'></span>
        <div class="employeeDetails">
          <span class='employeeName'>{{ employee.employee_name }}</span>
          <!-- <span class='employeeEmail'>{{ employee.employee_email }}</span> -->
        </div>
        <hr>
      </div>
    </div>

    <div class='employeeProfile'>
      <app-employee-profile></app-employee-profile>
    </div>

  </div>
</div>