*{
    transition: all 0.2s;
}
div.employees{
    width: 100%;   height: 100%;
    position: relative;
    display: flex;  flex-direction: column;     justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(0, 245, 245); */
}
div.employeesLabel{
    width: 50%;    height: 75px;
    display: flex; flex-direction: column;
    text-align: center; vertical-align: middle; align-self: center; align-content: center;
    background-color: rgba(6, 50, 116,1);
}
span.employeesLabel{
    color: honeydew;
    margin: auto;
    border: 0.5px solid RGBA(6, 50, 116,1);
    text-align: center; vertical-align: middle; align-self: center; align-content: center;
    font-size: x-large;
}
div.employee{
    width: 50%;    height: 50px;
    /* background-color: RGBA(200,200,200,1); */
    /* background-color: #f7eb47; */
    display: flex;  flex-direction: row;
    border-bottom: 1px solid RGBA(200,200,200,1);
}
div.employee:hover{
    width: 50%;    height: 50px;
    /* background-color: RGBA(40,140,200,1); */
    /* background-color: RGBA(32,32,32,1); */
}
span.newEmployeeIcon{
    width: 30px;    height: 30px;
    background-image: url('./../../assets/icons8-plus-100-1.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 30px;
    cursor: pointer;    margin-top: 25px; margin-bottom: 25px;  opacity: 0.7;  
      /* margin-bottom: 50px; */
}
span.newEmployeeIcon:hover, span.incIcon:hover{
    opacity: 1;
}
div.buttons{
    width: 100%;    height: 50px;
    display: flex;  flex-direction: row;    justify-content: center;
}
span.button{
    width: 80px;   height: 40px;    color: rgba(236, 184, 13, 1);   color: #f7eb47; color: rgba(32,32,32,1);
    text-align: center;     line-height: 40px;   font-size: 15px;   font-weight: 300;
    border: 1px solid rgba(32,32,32,0.6);    margin: 10px;   cursor: pointer;
    border-radius: 5px;
}
span.button:hover{
    background-color: rgba(236, 184, 13, 1);  background-color: #f7eb47;
    color: rgba(32,32,32,1);
    background-color: rgba(6, 50, 116,1);   color: honeydew;    border: 1px solid rgba(6, 50, 116,1);;
}
input.employeeAttribute {
    min-width: 50px; height: 50px;
    width: fit-content;
    background: transparent;    box-shadow: none;    border: none;  
    padding-left: 10px; outline: none;
    color: black;
    font-size: 15px;
}
input.employeeAttribute.employeeEmail {
    width: 300px;
    border-left: 1px solid RGBA(200,200,200,1);
    border-right: 1px solid RGBA(200,200,200,1);
}
div.employee:hover > input.employeeAttribute{
    /* color: honeydew; */
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}