div.timesheet, div.dateView{
    width: 100%;   height: 100%;
    position: relative;
    display: flex;  flex-direction: column;     justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(245, 245, 245); */
    /* background-color: #455672; */
}

div.dateNavigation{
    width: 80%;   height: 100px;    
    display: flex;  flex-direction: row;
    /* margin-bottom: 20px; */
    position: relative;
}
div.dateSlider{
    position: relative;
    width: 100%;   height: 100px;    
    display: flex;  flex-direction: row;
    margin-bottom: 20px;    overflow-x: hidden;
    border-radius: 10px;
}
span.date{
    min-width: 100%;
    line-height: 50px;  text-align: center;
    background-color: #455672;
    background-color: rgba(50,50,50,1); opacity: 0.9;
    border: 1px solid rgba(150,150,150,0.8);
    color: whitesmoke;  font-size: 20px;
    font-weight: 300;
    /* cursor: pointer; */
    /* opacity: 0.7; */
}
span.date:hover{
    opacity: 1;
}
span.date.selected{
    opacity: 1;
}
span.totalHours{
    position: absolute;
    right: 0px; color: whitesmoke;  line-height: 100px; font-size: 50px;    font-weight: 200;
    width: 100px;    height: 100%;   vertical-align: middle;     text-align: center;
}
span.totalHoursLabel{
    position: absolute;
    right: 0px;     bottom: 5px;    color: whitesmoke;
    /* font-size: 20px;    font-weight: 200; */
    width: 100px;    height: 20px;   vertical-align: middle;     text-align: center;
}
span.navigateDate{
    width: 25px;
    background-image: url('./../../assets/icons8-chevron-right-48.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 35px;
    cursor: pointer;    opacity: 0.7;
}
span.navigateDate:hover{
    opacity: 1;
}
span.navigateDate.previousDate{
    transform: rotateZ(180deg);
}
div.tasks{
    width: 80%;
    display: flex;  flex-direction: column;    justify-content: space-evenly;
}
div.taskLabels{
    width: calc(100% - 50px);    background-color: #f7eb47;  margin-left: 25px;
    display: flex;  flex-direction: row;    justify-content: space-between;
    vertical-align: middle; line-height: 30px;
    margin-bottom: 20px;
}
div.taskDetails{
    width: 100%;
    display: flex;  flex-direction: column;    justify-content: space-evenly;   align-items: center;
}
div.task{
    width: 100%;
    display: flex;  flex-direction: row;    justify-content: space-evenly;   align-content: center;  align-items: center;
    padding-bottom: 10px;    padding-top: 10px;
    margin-bottom: 5px;    margin-top: 5px;
}
span.taskLabel, input.taskDetail, select.taskDetail, div.taskDetail{
    width: 30%; height: 30px;   color: black;  opacity: 0.6;
    outline: none;  font-weight: 400;   font-size: 15px;
}
div.taskDetail{
    width: 100px;   padding: 0px !important;    border: none;
}
span.taskLabel{
    text-align: center;
}
input.taskDetail.taskName, select.taskDetail.projectName, input.taskDetail.timeSpentVal, div.taskDetail.timeSpent {
    background: transparent;    box-shadow: none;    border: none;   border: 1px solid rgb(148, 134, 134); 
    /* border-radius: 5px; */
    padding-left: 10px;
}
span.taskLabel.projectName, select.taskDetail.projectName{
    width: 20%; cursor: pointer;
}
span.taskLabel.taskName, input.taskDetail.taskName{
    width: 60%;
}
span.taskLabel.timeSpent, input.taskDetail.timeSpent{
    width: 10%;
}
div.taskDetail.timeSpent{
    display: flex;  flex-direction: row;    justify-content: center;
    padding-left: 5px;  padding-right: 5px;
}
span.minus{
    width: 30px;    height: 30px;
    padding-left: 10px;  padding-right: 10px;
    border-right: 2px solid rgb(148, 134, 134); 
    background-image: url('./../../assets/icons8-minus-24.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 15px;
    cursor: pointer;    margin: auto;  opacity: 0.4;    margin-bottom: 50px;
}
input.timeSpentValue{
    width: 100%;    border: none;   outline: none;  text-align: center; font-size: 20px;
}
span.plus{
    width: 30px;    height: 30px;
    padding-left: 10px;  padding-right: 10px;
    border-left: 2px solid rgb(148, 134, 134);
    background-image: url('./../../assets/icons8-plus-24.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 15px;
    cursor: pointer;    margin: auto;  opacity: 0.4;    margin-bottom: 50px;
}
span.newTaskIcon{
    width: 30px;    height: 30px;
    background-image: url('./../../assets/icons8-plus-100-1.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 30px;
    cursor: pointer;    margin: auto;  opacity: 0.4;    margin-bottom: 50px;
}
span.newTaskIcon:hover, span.incIcon:hover{
    opacity: 1;
}

select.taskDetail.projectName{
    background: none;
}
option{
    line-height: 25px;
}
div.buttons{
    width: 100%;    height: 50px;
    display: flex;  flex-direction: row;    justify-content: center;
}
span.button{
    width: 80px;   height: 40px;    color: rgba(236, 184, 13, 1);   color: #f7eb47; color: rgba(32,32,32,1);
    text-align: center;     line-height: 40px;   font-size: 15px;   font-weight: 300;
    border: 1px solid rgba(32,32,32,0.6);    margin: 10px;   cursor: pointer;
    border-radius: 5px;
}
span.button:hover{
    background-color: rgba(236, 184, 13, 1);  background-color: #f7eb47;
    color: rgba(32,32,32,1);
}
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------*/
div.timesheet, div.calendarView{
    width: 100%;   height: 100%;
    position: relative;
    display: flex;  flex-direction: column;     justify-content: flex-start;
    align-items: center;
    /* background-color: #dddddd; */
    /* background-color: rgb(245, 245, 245); */
    /* background-color: #455672; */
}

div.monthNavigation{
    width: 80%;   height: 100px;    
    display: flex;  flex-direction: row;
    margin-bottom: 20px;
    position: relative;
}
div.monthSlider{
    position: relative;
    width: 100%;   height: 100px;    
    display: flex;  flex-direction: row;
    margin-bottom: 20px;    overflow-x: hidden;
    border-radius: 10px;    line-height: 100px;
}
span.month{
    min-width: 100%;
    line-height: 50px;  text-align: center;
    background-color: rgba(50,50,50,1); opacity: 0.9;
    border: 1px solid rgba(150,150,150,0.8);
    color: whitesmoke;  font-size: 20px;
    font-weight: 300;    line-height: 100px;
    /* cursor: pointer; */
    /* opacity: 0.7; */
}
span.month:hover{
    opacity: 1;
}
span.month.selected{
    opacity: 1;
}
span.navigateMonth{
    width: 25px;
    background-image: url('./../../assets/icons8-chevron-right-48.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 35px;
    cursor: pointer;    opacity: 0.7;
}
span.navigateMonth:hover{
    opacity: 1;
}
span.navigateMonth.previousMonth{
    transform: rotateZ(180deg);
}
div.calendarDates{
    display: flex;  flex-direction: row;    flex-wrap: wrap;
    width: calc(80% - 50px); height: 500px;
}
div.calendarDateCard{
    width: 13%;   height: 90px;  border: 0.1px solid rgba(200, 200, 200, 0.5);
    /* background-color: rgba(245,245,245,1);    */
    /* border-radius: 5px; */
    display: flex;  flex-direction: column; justify-content: space-between;
    padding: 5px;   cursor: pointer;
}
div.calendarDateCard:hover, div.calendarDateCard.today{
    background-color: #455672;
    background-color: rgba(200,200,200,1);
    color: rgba(0,0,0,0.8);   background-color: #f7eb47
}
span.calendarHoursLabel{
    display: flex;  flex-direction: row;    justify-content: flex-end; align-items: baseline;
    font-size: 35px;    font-weight: 300;
    right: 0px;
}
span.calendarHoursLabel span{
    font-size: 12px;
}
div.calendarDateCard span{
    color: rgba(150,150,150,1);
    font-weight: 200;
}
div.calendarDateCard:hover span, div.calendarDateCard.today span{
    color: rgba(200,200,200,0.8);
    color: rgba(10,10,10,1);
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}