div.reportView{
    width: 100%;   height: 100%;
    position: relative;
    display: flex;  flex-direction: column; justify-content: flex-start;
    align-items: center;
}

div.employeeView{
    width: 75%;   height: 400px;
    display: flex;  flex-direction: column; justify-content: flex-start;
    margin-top: 0px;    margin-bottom: 20px;
    position: relative;
}

div.dateSelection{
    width: 100%;   height: 100px;
    display: flex;  flex-direction: row;    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    background-color: rgba(6, 50, 116,1);
    color: honeydew;
}
div.dateSelection span{
    padding: 10px;
}
div.dateSelection button{
    width: 100px;
    background-color: rgba(6, 50, 116,1);
    outline: none;  border: none;
    color: honeydew;
    cursor: pointer;
    font-size: 15px;
    /* padding: 10px; */
}
div.dateSelection button:hover{
    background-color: rgba(7,71,166,1);
}
input.date{
    height:25px;
}
div.employees{
    width: 100%;   height: 100%;
    display: flex;  flex-direction: column; justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;
}
div.employee{
    width: 100%;   height: 100px;
    display: flex;  flex-direction: row;    justify-content: flex-start;
}
div.nameCard, div.timeCard{
    width: 150px; height: 100px;    align-content: center;  text-align: center; line-height: 100px;
    /* border-bottom: 1px solid rgba(23, 23, 230, 0.8); */
}
div.nameCard{
    background-color: #f7eb47;
    background-color: rgba(6, 50, 116,1);
    background-color: rgba(7,71,166,1);
    color: honeydew;
    /* background-color: rgba(150,150,150,1); */
    /* background-color: rgb(38, 132, 255); */
    /* border: 1px solid rgba(38, 132, 255,1); */
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
}
div.timeCard{
    /* background-color: rgba(230, 230, 230, 0.8); */
    border-right: 1px solid rgba(200,200,200,1);
    border-bottom: 1px solid rgba(200,200,200,1);
}


div.projects{
    width: 100%;   height: 50px;
    display: flex;  flex-direction: row;
    position: relative;
}
div.project{
    width: 150px;   height: 50px;  align-content: center;  text-align: center; line-height: 50px;
    background-color: rgba(7,71,166,1);
    /* background-color: rgba(200,200,200,1); */
    /* background-color: rgba(150,150,150,1); */
    /* background-color: rgba(38, 132, 255,1); */
    color: honeydew;
    border-right: 1px solid rgba(7,71,166,1);
    /* border-right: 1px solid rgba(38, 132, 255,1); */
    /* border-top-left-radius: 5px; */
    /* border-left: 1px solid rgba(7,71,166,1); */
}