<div class='menu'>
  <div class='menuItem' routerLink='/home' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">
    <span class='menuItemIcon homeIcon'></span>
    <!-- <span class='menuItemLabel'>Add</span> -->
  </div>
  <div class='menuItem' routerLink='/home/timesheet' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">
    <span class='menuItemIcon timesheetIcon'></span>
    <!-- <span class='menuItemLabel'>Edit</span> -->
  </div>
  <div class='menuItem' routerLink='/home/reports' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">
    <span class='menuItemIcon reportsIcon'></span>
    <!-- <span class='menuItemLabel'>Report</span> -->
  </div>
  <div class='menuItem' *ngIf='role=="admin"' routerLink='/home/projects' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">
    <span class='menuItemIcon projectsIcon'></span>
    <!-- <span class='menuItemLabel'>Report</span> -->
  </div>
  <div class='menuItem' *ngIf='role=="admin"' routerLink='/home/users' routerLinkActive='active' [routerLinkActiveOptions]="{ exact: true }">
    <span class='menuItemIcon usersIcon'></span>
    <!-- <span class='menuItemLabel'>Report</span> -->
  </div>
  <div class='menuItem' (click)='onLogout()'>
    <span class='menuItemIcon logoutIcon'></span>
    <!-- <span class='menuItemLabel'>Report</span> -->
  </div>
</div>