div.menu{
    width: 100%;   height: 100%;
    position: relative;
    display: flex;  flex-direction: column;
    background-color: #455672;
    background-color: rgba(50,50,50,1);
}

div.menuItem{
    width: 100%;    height: 50px;
    display: flex;  flex-direction: row;    justify-content: center;
    margin-top: 10px;   margin-bottom: 10px;
    cursor: pointer;    outline: none;
}
span.menuItemIcon{
    width: 50px;
    opacity: 0.7;
}
div.menuItem:hover span.menuItemIcon, div.menuItem.active span.menuItemIcon{
    opacity: 1;
}
span.menuItemIcon.homeIcon{
    background-image: url('./../../../assets/icons8-home-page-100.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 35px;
}
span.menuItemIcon.editIcon{
    background-image: url('./../../../assets/icons8-schedule-100.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 35px;
}
span.menuItemIcon.reportsIcon{
    background-image: url('./../../../assets/icons8-combo-chart-filled-100.png');
    background-position: center;    background-repeat: no-repeat;   background-size: 35px;
}
