div.home{
    position: absolute;    
    display: flex;  flex-direction: row;
    width: 100%;    height: 100%;
}
app-menu{
    min-width: 50px;   height: 100%;
    max-width: 50px;
    position: relative;
    display: flex;  flex-direction: column;
    background-color: #455672;
}
app-workspace{
    position: relative;
    width: 100%;    height: 100%;
    overflow: hidden;
    /* max-width: 1vw; */
    /* background-color: blue; */
}